process {

    executor = 'slurm'
    time ='12h'

    withName: 'FASTQC_RAW' {
        cpus = 4
        memory = '8 GB'
    }

    withName: 'TRIMMOMATIC' {
        cpus = 8
        memory = '16 GB'
    }

    withName: 'ALIGN' {
        cpus = 24
        memory = '50 GB'
    }

    withName: 'MARK_DUPLICATES' {
        cpus = 16
        memory = '50 GB'
    }

    withName: 'HAPLOTYPE_CALLER' {
        cpus = 16
        memory = '32 GB'
    }
}
