params {

    // Directory containing the isolate paired-end FASTQ files
    isolate_input = "${projectDir}/data/isolate"

    // Directory containing the SPIT-seq vcfs
    spitseq_input = "${projectDir}/data/spitseq/vcf"

    // Mycobacterium tuberculosis H37Rv reference genome
    mtb_reference_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/195/955/GCF_000195955.2_ASM19595v2/GCF_000195955.2_ASM19595v2_genomic.fna.gz"

    // Trimmomatic adapter sequences used during read trimming
    adapters_url = "https://raw.githubusercontent.com/timflutre/trimmomatic/master/adapters/TruSeq3-PE-2.fa"

    // Directory where Nextflow will publish pipeline results
    outdir = "${projectDir}/results/"

}
