params {

    // Directory containing the isolate paired-end FASTQ files
    isolate_input = "${projectDir}/data/isolate"

    // Directory containing the SPIT-seq vcfs
    spitseq_input = "${projectDir}/data/spitseq/vcf"

    // Mycobacterium tuberculosis H37Rv reference genome
    mtb_reference = "${projectDir}/reference/H37Rv.fna"

    // Trimmomatic adapter sequences used during read trimming
    adapters = "${projectDir}/adapters/TruSeq3-PE-2.fa"

    // Directory where Nextflow will publish pipeline results
    outdir = "${projectDir}/results"

}
