params {

    // Input sequencing data (isolate)
    isolate_input = "/scratch4/jtornhe1/projects/priti/rawfiles/isolate"

    // Reference genome
    mtb_reference = "/scratch4/jtornhe1/projects/priti/alignments/reference/H37Rv"

    // Trimmomatic adapter file
    adapters = "/scratch4/jtornhe1/projects/priti/gagrawa6/scripts/TruSeq3-PE-2.fa"

    // snpEff installation
    snpeff_jar = "/scratch4/jtornhe1/projects/priti/alignments/reference/snpEff/snpEff.jar"

}
